
.card {
    overflow-scrolling: auto;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
body {padding-top: 15%}

div.scroll {
    /*text-align: center;*/
    /*width: 600px;*/
    /*border-bottom-color: black;*/
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.card-body {border-top: 1px solid; border-color: rgba(0, 0, 0, 0.175);}


#movieManagerImg{
    border:5px solid black;
    width:40%;
}

